@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="form-group">
        <label for="entryTitle">Entry Title</label>
        <input type="text" class="form-control" id="entryTitle" name="entryTitle" placeholder="Entry Title">
    </div>

    <div class="form-group">
        <label for="localesSelect">Select Locale</label>
        <select class="form-control" id="localesSelect" name="locale">
        </select>
    </div>

    <div class="form-group">
        <label for="links">Link</label>
        <div id="links" class="form-row">
            <div class="col">
                <input type="text" id="linkTitle" class="form-control" name="linkTitle" placeholder="title">
            </div>
            <div class="col">
                <input type="url" id="linkUrl" class="form-control" name="linkUrl" placeholder="link url">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div id="richText" class="form-row">
            <div class="col">
                <label for="Rich Text Editor">Rich Text Editor</label>
                <div id="summernote">Hello Summernote</div>
            </div>
        </div>
    </div>

    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#assetUploadsCollapse" aria-expanded="false" aria-controls="assetUploadsCollapse">Assets</button>
        <button type="button" class="btn btn-primary" onclick="createEntry()">Create New Entry</button>
    </p>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>